.statistics-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
  }
  span{
    width: 0;
  }
  .card {
    background: #e5e5e5;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .data {
    font-size: 3em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .text {
    font-size: 1em;
    color: #777;
  }
  